* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #FBFBF2;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}h1, h2, h3, h4, h5, h6 {
     font-family: 'Roboto', sans-serif;
}
.full-width{
    width: 100%;
    height: 100px;
    background-color: #368a65;
}
.header{
    margin: 0 auto;
    height: 100px;
    width: 80%;
    background-color: #368a65;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-bar img{
    height: 90px;
    margin-left: 10px;
}
nav{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #164d35;
}
nav a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: #FBFBF2;
    font-family: 'Roboto', sans-serif;
}

.content{
    width: 100%;
    margin: 0 auto;
    background-color: #FBFBF2;
    min-height: 85vh;
}

footer{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    background-color: #368a65;
    color: #FBFBF2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* homepage styling */
.hero-banner{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(50, 168, 82, .6), rgba(50, 168, 82, .2)), url("../images/AdobeStock_468949137.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-banner .banner-text{
    color: #FBFBF2;
    width: fit-content;
    font-size: 75px;
    margin-top: 400px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
}

.teaser{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 100px 0px;
}
.teaser h1{
    color: #164d35;
}
.teaser .teaser-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.teaser-row .teaser-image{
    width: 450px;
    height: 450px;
    background-color: #04AA6D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
}
.teaser-row .teaser-text{
    width: 450px;
}
.teaser-text h2{
    color: #164d35;
}
.teaser-row .teaser-text p{
    font-size: 20px;
}

#security{
    background-image: url("../images/AdobeStock_208047326.jpeg");
}

/* about page styling */
.about-banner{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(50, 168, 82, .6), rgba(50, 168, 82, .2)), url("../images/AdobeStock_177797171.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-banner .banner-text{
    font-size: 72px;
    color: #FBFBF2;
    font-family: 'Roboto', sans-serif;
}
.about, .founders, .disclaimer{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.about h1, .founders h1{
    color: #164D35;
}
.founders h2{
    color: #368A65;
}
.about p, .founders p{
    font-size: 18px;
}

.disclaimer h3{
    color: #A52422;
    margin-bottom: 5px;
}
.disclaimer p{
    font-size: 12px;
}

/* account page styling */

.title{
    text-align: center;
    padding: 50px 0px;
    font-family: 'Roboto', sans-serif;
    color: #164d35;
}
.accounts-container{
    margin: 0 auto;
    width: 100%;
}
.accounts-container table{
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
}
.accounts-container table td, .accounts-container table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.accounts-container table tr:nth-child(even){
    background-color: #ddd;
}
.accounts-container table tr:hover {
    background-color: #ccc;
}
.accounts-container table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.accounts-container table tr a{
    text-decoration: none;
    color: #368a65;
    font-weight: bold;
}

.actions{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.actions button{
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #FBFBF2;
    cursor: pointer;
}
/* Account details styling */
.account-details{
    width: 80%;
    margin: 0 auto;
}

.account-details .tab-table{
    border: 1px solid #ddd;
    min-height: 600px;
    margin-bottom: 100px;
}
.account-details .tab-table .tab-navigation{
    width: 100%;
    height: 50px;
    background-color: #368a65;
    display: flex;
    align-items: center;
}
.tab-navigation button{
    height: 100%;
    border: none;
    border-right: 1px solid #164d35;
    background: none;
    padding: 0px 20px;
    font-size: 18px;
    color: #FBFBF2;
}